@mixin barlow-bold {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
}

@mixin section-padding {
	padding: 6rem 0;
	@media (max-width: 576px) {
		padding: 3rem 0;
	}
}