$pink: #E61B72;
$teal: #00A99E;
$dark-teal: #012A3E;
$yellow: #FCEE22;
$green: #95C11F;
$text-shadow: 3px 3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, -3px -3px 0 #000, 3px 0px 0 #000, 0px 3px 0 #000, -3px 0px 0 #000, 0px -3px 0 #000, 3px 3px 3px rgba(0,0,0,0);
