$pink: #FF008F;
$teal: #10f1fc;
$dark-teal: #012A3E;
$yellow: #FCEE22;
$green: #00B87C;
$purple: #3C0D5A;
$red: #C8004E;
$blue: #3C92C7;
$orange: #FF5E1A;
$text-shadow: 3px 3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, -3px -3px 0 #000, 3px 0px 0 #000, 0px 3px 0 #000, -3px 0px 0 #000, 0px -3px 0 #000, 3px 3px 3px rgba(0,0,0,0);